<!doctype html>
<html>
<head>
  <title>O-W 1</title>
</head>

<body>
  <h1>O-W 1</h1>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>