<!doctype html>
<html>
<head>
  <title>O-W 1</title>
  <meta charset="utf-8">
  <meta name="author" content="Joshua Jenkins">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link type="text/css" rel="stylesheet" href="css/survey.css"></link>
  <link rel="shortcut icon" href="//joshuajenkins.com/img/favicon.ico">
</head>

<body>
  <h1>How does the sky look right now?</h1>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/survey.js"></script>
</body>
</html>