body {
  background-color: white;
  color: #aaa;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 18px;
  line-height: 1.25em;
  font-weight: normal;
  text-align: center;
  margin: 3em 1.5em;
}

h2 {
  color: #666;
  font-size: 22px;
  line-height: 1.25em;
  margin: 3em 1.5em;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

li {
  display: block;
  margin: 0;
  padding: 0;
  height: 66.6vh;
  cursor: pointer;
}